

.containerContainer {
  margin-top: 60px;
  /* padding-left: ($spacer-x * .5); */
  /* padding-right: ($spacer-x * .5); */
  background-color: white;
}
.alert {
  width:100%;    
}
body {
  /* background: blue; */
}
.step {
  padding: 10px;
  margin: 0px;
}
.formField {
  
}
#title {
  /* line-height: 1.428;   */
}
.no{
  /* variant:"danger"; */
}
/* #body {
      
}
#formText {

}
#formField {

} */
