.bothContainer {
  margin-top: 30px;
  margin-bottom: 30px;
}
.stepContainer {
  /* background-color: white; */
}
.directiveContainer {
  /* background-color: white; */
}
.rowElement {
  padding: 10px;
  margin: 0px;
  background-color: white;
}
.directive {
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
}
.step {
  margin-bottom: 30px;
  padding: 0px;
  background-color: white;
}
.alert {
  width: 100%;
}
body {
  /* background: blue; */
}
.tab-content {
  margin: 15px 25px 15px 25px;
  width: 95%;
  text-align: left; 
}
.nav-tabs{
  margin-left:15px; 
}
ul { 
	text-align: left; 
	}
.formField {
}
#title {
}
.no {
}

#bg {
  height: 100vh;
  overflow-y: scroll;
}
