/* <style> */
@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
/* </style> */

.mainContainer {
  margin-top: 30px;
  margin-bottom: 30px;
}
.rowElement {
  padding: 10px;
  margin: 0px;
}
.hidden { 
  display:none; 
}
.priority {
  padding-bottom: 20px;
  padding: 0px;
  background-color: rgb(250, 231, 168);
  margin-bottom: 20px;  
}
.step {
  margin-bottom: 20px;
  padding: 0px;
  background-color: white;
}
.disabled {
  color: gray;
}
body {
  /* background: blue; */
}
Button {
  padding-left: 20px;
  padding-top: 11px;
}
h6 {
  /* padding-left: 20px; */
  padding-top: 11px;
  font-size: revert;
  font-weight: bold;
  /* font-family: 'Spartan'; */
}
.tab-content {
  margin: 15px 25px 15px 25px;
  width: 95%;
  text-align: left;
}
.nav-tabs {
  margin-left: 15px;
}
ul {
  text-align: left;
}
.formField {
}
#title {
}
.no {
}

#bg {
  height: 100vh;
  overflow-y: scroll;
}
/* #root {
  font-family: 'Spartan';
  font-weight: 500;
} */
a.navbar-brand {
  font-weight: 600;
  font-family: 'Spartan';
}
h3 {
  font-weight: 800 !important;
  font-size: x-large !important;
  font-family: 'Spartan';
}
button.btn.btn-primary {
  font-weight: 600;
  font-size: medium;
  font-family: 'Spartan';
}
/* .form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  font-family: 'Spartan';
} */
a.nav-link {
  font-size: small;
  font-weight: 600;
  font-family: 'Spartan';
}
.backBtn {
  font-size: small !important;
  font-weight: 600 !important;
  font-family: 'Spartan';
}
/* label.form-label {
  font-size: larger;
} */
.nav-tabs .nav-item.show .nav-link, .nav-tabs {
  color: #495057;
  background-color: rgb(250, 231, 168)  !important;
  border-color: #b8b8b8 #b8b8b8 #b8b8b8  !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #495057;
  background-color: rgb(250, 231, 168) !important;
  border-color: #b8b8b8 #b8b8b8 #FAE7A8 !important;
}
.nav-tabs .nav-link:focus {
  border-color: #b8b8b8 #b8b8b8 #FAE7A8 !important;
}
.nav-tabs .nav-link:hover {
  border-color: #b8b8b8 #b8b8b8 #FAE7A8 !important;
}
.dotted {
  text-decoration-line: underline;
  /* text-decoration-style: dotted; */
  /* text-decoration-style: double; */
  text-decoration-style: dashed;
  /* text-decoration-color: green; */
}